# Data Sprint

## Data Import

In [1]:
import pandas as pd

In [2]:
# Load datasets
cst_df = pd.read_csv("olist_customers_dataset.csv")
geo_df = pd.read_csv("olist_geolocation_dataset.csv")
items_df = pd.read_csv("olist_order_items_dataset.csv")
payments_df = pd.read_csv("olist_order_payments_dataset.csv")
reviews_df = pd.read_csv("olist_order_reviews_dataset.csv")
orders_df = pd.read_csv("olist_orders_dataset.csv")
products_df = pd.read_csv("olist_products_dataset.csv")
sellers_df = pd.read_csv("olist_sellers_dataset.csv")
category_df = pd.read_csv("product_category_name_translation.csv")
closed_df = pd.read_csv("olist_closed_deals_dataset.csv")
marketing_df = pd.read_csv("olist_marketing_qualified_leads_dataset.csv")

## Data Cleaning

### Nulls

In [3]:
#Check the nulls in customers data:
cst_df.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [4]:
#Check the nulls in geolocation data:
geo_df.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [5]:
#Check the nulls in order_items data:
items_df.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [6]:
#Check the nulls in products_items data:
products_df.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [7]:
#Drop the Rows in 'product_category_name' from Dataset
products_df.dropna(subset = ['product_category_name'], inplace = True)

In [8]:
#Check the nulls in sellers data:
sellers_df.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [9]:
#Check the nulls in category data:
category_df.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [10]:
#Check the nulls in orders data:
orders_df.isnull().mean().sort_values(ascending=False)*100

order_delivered_customer_date    2.981668
order_delivered_carrier_date     1.793023
order_approved_at                0.160899
order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_estimated_delivery_date    0.000000
dtype: float64

In [11]:
orders_df['order_approved_at'].fillna(orders_df['order_delivered_carrier_date'], inplace=True)
orders_df['order_approved_at'].fillna(orders_df['order_purchase_timestamp'], inplace=True)
orders_df['order_delivered_carrier_date'].fillna(orders_df['order_approved_at'], inplace=True)
orders_df['order_delivered_customer_date'].fillna(orders_df['order_estimated_delivery_date'], inplace=True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/3113537922.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_df['order_approved_at'].fillna(orders_df['order_delivered_carrier_date'], inplace=True)
/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/3113537922.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_df['order_delivered_carrier_date'].fillna(orders_df['order_approved_at'], inplace=True)
/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/3113537922.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_df['order_delivered_customer_date'].fillna(orders_df['order_estimated_delivery_date'], inplace=True)

In [12]:
orders_df.isnull().mean()*100

order_id                         0.0
customer_id                      0.0
order_status                     0.0
order_purchase_timestamp         0.0
order_approved_at                0.0
order_delivered_carrier_date     0.0
order_delivered_customer_date    0.0
order_estimated_delivery_date    0.0
dtype: float64

In [13]:
#Check the nulls in payments data:
payments_df.isnull().mean()*100

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

In [14]:
#Check the nulls in reviews data:
reviews_df.isnull().mean()*100

review_id                   0.000000
order_id                    0.000000
review_score                0.000000
review_comment_title       88.341530
review_comment_message     58.702532
review_creation_date        0.000000
review_answer_timestamp     0.000000
dtype: float64

In [15]:
# Check the nulls in closed data:
closed_df.isnull().sum().sort_values(ascending = False)

has_company                      779
has_gtin                         778
average_stock                    776
declared_product_catalog_size    773
lead_behaviour_profile           177
business_type                     10
lead_type                          6
business_segment                   1
mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
declared_monthly_revenue           0
dtype: int64

In [16]:
# Fill the nulls with unknown value 
closed_df['has_company'].fillna('unknown' , inplace = True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/1559199027.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  closed_df['has_company'].fillna('unknown' , inplace = True)

In [17]:
closed_df['has_gtin'].fillna('unknown' , inplace = True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/3373310614.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  closed_df['has_gtin'].fillna('unknown' , inplace = True)

In [18]:
closed_df['lead_behaviour_profile'].fillna('unknown' , inplace = True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/3246886923.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  closed_df['lead_behaviour_profile'].fillna('unknown' , inplace = True)

In [19]:
closed_df['business_type'].fillna('unknown' , inplace = True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/1314434296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  closed_df['business_type'].fillna('unknown' , inplace = True)

In [20]:
closed_df['lead_type'].fillna('unknown' , inplace = True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/3442931818.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  closed_df['lead_type'].fillna('unknown' , inplace = True)

In [21]:
closed_df.isnull().sum().sort_values(ascending = False)

average_stock                    776
declared_product_catalog_size    773
business_segment                   1
mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
lead_type                          0
lead_behaviour_profile             0
has_company                        0
has_gtin                           0
business_type                      0
declared_monthly_revenue           0
dtype: int64

In [22]:
# Drop the columns with a high rate of nulls and not important for analysis (average_stock,declared_product_catalog_size)
closed_df1 = closed_df.drop(columns = ['average_stock','declared_product_catalog_size'])

In [23]:
closed_df1.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,business_type,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,unknown,unknown,reseller,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,unknown,unknown,reseller,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,unknown,unknown,reseller,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,unknown,unknown,unknown,reseller,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,unknown,unknown,manufacturer,0.0

In [24]:
# Drop one row (null) from the business segment because we cannot find the segment with another data
closed_df.dropna(subset = ['business_segment'] , inplace = True)

In [25]:
# To check the dataset if the row dropped
closed_df.shape[0]

841

In [26]:
closed_df.isnull().sum().sort_values(ascending = False)

average_stock                    775
declared_product_catalog_size    772
mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   0
lead_type                          0
lead_behaviour_profile             0
has_company                        0
has_gtin                           0
business_type                      0
declared_monthly_revenue           0
dtype: int64

In [27]:
closed_df1.isnull().sum().sort_values(ascending = False)

business_segment            1
mql_id                      0
seller_id                   0
sdr_id                      0
sr_id                       0
won_date                    0
lead_type                   0
lead_behaviour_profile      0
has_company                 0
has_gtin                    0
business_type               0
declared_monthly_revenue    0
dtype: int64

In [28]:
# Check the nulls in marketing data:
marketing_df.isnull().sum().sort_values(ascending = False)

origin                60
mql_id                 0
first_contact_date     0
landing_page_id        0
dtype: int64

In [29]:
# Fill the nulls with unknown value 
marketing_df['origin'].fillna('unknown' , inplace = True)

/var/folders/gn/3g5nfw013wg4hsyp4kjxtg480000gn/T/ipykernel_1446/2065770801.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  marketing_df['origin'].fillna('unknown' , inplace = True)

In [30]:
# Check the data if the null changed
marketing_df.isnull().sum().sort_values(ascending = False)

mql_id                0
first_contact_date    0
landing_page_id       0
origin                0
dtype: int64

### Duplicates

In [31]:
#Check duplicates rows in custmers data:
cst_df.duplicated().sum()

np.int64(0)

In [32]:
#Check duplicates rows in geolocation data:
geo_df.duplicated().sum()

np.int64(261831)

In [33]:
#Drop duplicated rows in geolocation data:
geo_df = geo_df.drop_duplicates()

In [34]:
#Check duplicates rows in geolocation data after drop :
geo_df.duplicated().sum()

np.int64(0)

In [35]:
#Check duplicates rows in order_items data:
items_df.duplicated().sum()

np.int64(0)

In [36]:
# Check duplicates in Products Data:
products_df.duplicated().sum()

np.int64(0)

In [37]:
# Check duplicates in Sellers Data
sellers_df.duplicated().sum()

np.int64(0)

In [38]:
# Check duplicates in Product Category Data:
category_df.duplicated().sum()

np.int64(0)

In [39]:
# Check duplicates in orders Data:
orders_df.duplicated().sum()
#there is no duplicates

np.int64(0)

In [40]:
# Check duplicates in payments Data:
payments_df.duplicated().sum()
#there is no duplictes

np.int64(0)

In [41]:
# Check duplicates in reviews Data:
reviews_df.duplicated().sum()
#there is no duplictes

np.int64(0)

In [42]:
# Check duplicates in closed Data:
closed_df.duplicated().sum()

np.int64(0)

In [43]:
# Check duplicates in marketing Data:
marketing_df.duplicated().sum()

np.int64(0)

### Data Type

In [44]:
#Check data types for Customers data:
cst_df.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [45]:
#Check data types for geolocation data:
geo_df.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [46]:
#Check data types for orders_items data:
items_df.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [47]:
# Change dtype of shipping_limit_date column in order_items data:
items_df['shipping_limit_date'] = pd.to_datetime(items_df['shipping_limit_date'])

In [48]:
#Check data types for orders_items data:
items_df.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [49]:
#Check data types for products data:
products_df.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [50]:
#Check data types for sellers data:
sellers_df.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [51]:
#Check data types for category data:
category_df.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [52]:
#Check data types for orders data:
orders_df.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [53]:
orders_df['order_purchase_timestamp']=pd.to_datetime(orders_df['order_purchase_timestamp'])
orders_df['order_approved_at']=pd.to_datetime(orders_df['order_approved_at'])
orders_df['order_delivered_carrier_date']=pd.to_datetime(orders_df['order_delivered_carrier_date'])
orders_df['order_delivered_customer_date']=pd.to_datetime(orders_df['order_delivered_customer_date'])
orders_df['order_estimated_delivery_date']=pd.to_datetime(orders_df['order_estimated_delivery_date'])

In [54]:
orders_df.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [55]:
#Check data types for payments data:
payments_df.dtypes
#all are fine

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [56]:
#Check data types for reviews data:
reviews_df.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [57]:
reviews_df['review_creation_date']=pd.to_datetime(reviews_df['review_creation_date'])
reviews_df['review_answer_timestamp']=pd.to_datetime(reviews_df['review_answer_timestamp'])
reviews_df.dtypes

review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [58]:
#Check data types for closed data:
closed_df.dtypes

mql_id                            object
seller_id                         object
sdr_id                            object
sr_id                             object
won_date                          object
business_segment                  object
lead_type                         object
lead_behaviour_profile            object
has_company                       object
has_gtin                          object
average_stock                     object
business_type                     object
declared_product_catalog_size    float64
declared_monthly_revenue         float64
dtype: object

In [59]:
# To change the type of 'won date' from object to datetime
closed_df['won_date'] = pd.to_datetime (closed_df['won_date'])

In [60]:
# To check if the type changed
closed_df.dtypes

mql_id                                   object
seller_id                                object
sdr_id                                   object
sr_id                                    object
won_date                         datetime64[ns]
business_segment                         object
lead_type                                object
lead_behaviour_profile                   object
has_company                              object
has_gtin                                 object
average_stock                            object
business_type                            object
declared_product_catalog_size           float64
declared_monthly_revenue                float64
dtype: object

In [61]:
#Check data types for marketing data:
marketing_df.dtypes

mql_id                object
first_contact_date    object
landing_page_id       object
origin                object
dtype: object

In [62]:
# To change the type of 'first_contact_date' from object to datetime
marketing_df['first_contact_date'] = pd.to_datetime (marketing_df['first_contact_date'])

In [63]:
# To check if the type changed
marketing_df.dtypes

mql_id                        object
first_contact_date    datetime64[ns]
landing_page_id               object
origin                        object
dtype: object

In [64]:
cst_df.to_csv('customers.csv')
geo_df.to_csv('geolocation.csv')
items_df.to_csv('items.csv')
payments_df.to_csv('payments.csv')
reviews_df.to_csv('reviews.csv')
orders_df.to_csv("orders.csv")
products_df.to_csv("products.csv")
sellers_df.to_csv("sellers_.csv")
category_df.to_csv("category.csv")
closed_df.to_csv("closed.csv")
marketing_df.to_csv("marketing.csv")

### Categorize Product Category

In [65]:
# Categorize Products Category 

category_df['Products_Category'] = category_df['product_category_name_english'].map({
    'health_beauty': 'Beauty & Personal Care',
    'perfumery': 'Beauty & Personal Care',
    'diapers_and_hygiene': 'Beauty & Personal Care',

    'electronics': 'Electronics & Accessories',
    'computers': 'Electronics & Accessories',
    'computers_accessories': 'Electronics & Accessories',
    'tablets_printing_image': 'Electronics & Accessories',
    'telephony': 'Electronics & Accessories',
    'fixed_telephony': 'Electronics & Accessories',
    'audio': 'Electronics & Accessories',
    'cine_photo': 'Electronics & Accessories',
    'consoles_games': 'Electronics & Accessories',
    'cds_dvds_musicals': 'Electronics & Accessories',
    'dvds_blu_ray': 'Electronics & Accessories',

    'furniture_decor': 'Home & Furniture',
    'furniture_bedroom': 'Home & Furniture',
    'furniture_living_room': 'Home & Furniture',
    'furniture_mattress_and_upholstery': 'Home & Furniture',
    'office_furniture': 'Home & Furniture',
    'bed_bath_table': 'Home & Furniture',
    'home_comfort_2': 'Home & Furniture',
    'home_confort': 'Home & Furniture',
    'housewares': 'Home & Furniture',
    'kitchen_dining_laundry_garden_furniture': 'Home & Furniture',
    'la_cuisine': 'Home & Furniture',

    'home_appliances': 'Appliances',
    'home_appliances_2': 'Appliances',
    'small_appliances': 'Appliances',
    'small_appliances_home_oven_and_coffee': 'Appliances',
    'air_conditioning': 'Appliances',

    'fashion_male_clothing': 'Fashion',
    'fashio_female_clothing': 'Fashion',
    'fashion_childrens_clothes': 'Fashion',
    'fashion_shoes': 'Fashion',
    'fashion_bags_accessories': 'Fashion',
    'fashion_underwear_beach': 'Fashion',
    'fashion_sport': 'Fashion',
    'watches_gifts': 'Fashion',
    'luggage_accessories': 'Fashion',

    'baby': 'Baby & Kids',
    'toys': 'Baby & Kids',

    'sports_leisure': 'Sports',

    'musical_instruments': 'Party & Decoration',
    'party_supplies': 'Party & Decoration',
    'christmas_supplies': 'Party & Decoration',
    'cool_stuff': 'Party & Decoration',

    'food_drink': 'Food & Drinks',
    'food': 'Food & Drinks',
    'drinks': 'Food & Drinks',

    'books_technical': 'Books',
    'books_general_interest': 'Books',
    'books_imported': 'Books',

    'art': 'Art & Music',
    'arts_and_craftmanship': 'Art & Music',
    'music': 'Art & Music',

    'construction_tools_construction': 'Construction & Tools',
    'costruction_tools_garden': 'Construction & Tools',
    'costruction_tools_tools': 'Construction & Tools',
    'construction_tools_lights': 'Construction & Tools',
    'construction_tools_safety': 'Construction & Tools',
    'home_construction': 'Construction & Tools',
    'garden_tools': 'Construction & Tools',

    'auto': 'Auto & Industry',
    'industry_commerce_and_business': 'Auto & Industry',
    'agro_industry_and_commerce': 'Auto & Industry',
    'signaling_and_security': 'Auto & Industry',

    'stationery': 'Stationery',
    'market_place': 'Marketplace',
    'flowers': 'Flowers',
    'pet_shop': 'Pets',
    'security_and_services': 'Security Services'
})

In [66]:
print(category_df["Products_Category"].value_counts(dropna=False).sort_values(ascending=False))

Products_Category
Electronics & Accessories    11
Home & Furniture             11
Fashion                       9
Construction & Tools          7
Appliances                    5
Auto & Industry               4
Party & Decoration            4
Food & Drinks                 3
Beauty & Personal Care        3
Books                         3
Art & Music                   3
Baby & Kids                   2
Stationery                    1
Pets                          1
Marketplace                   1
Sports                        1
Flowers                       1
Security Services             1
Name: count, dtype: int64

In [67]:
category_df.head()

,product_category_name,product_category_name_english,Products_Category
0,beleza_saude,health_beauty,Beauty & Personal Care
1,informatica_acessorios,computers_accessories,Electronics & Accessories
2,automotivo,auto,Auto & Industry
3,cama_mesa_banho,bed_bath_table,Home & Furniture
4,moveis_decoracao,furniture_decor,Home & Furniture

In [70]:
category_df.to_csv("categories.csv")